$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


body{
background-color:#c90202;
text-align: center;
color: black;
}

// .board{
// margin: 500;
// font-size:25px; 
// }
table{
    margin: 0 auto;
    font-size: 25px;
    border-color: black;
    background-color: aquamarine;

}

table tr td{
    height: 125px;
    width: 125px;
    border-color: black;
}

